@model IEnumerable<SSProject.Models.AspNetUser>
@using Microsoft.AspNet.Identity;

<h2>Friends</h2>

<hr />

<table class="table">
    <tr>
        <th>
            Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/profile/details/@item.Id"><img class="rotate userImageSmall" src="@item.ProfilePicture" /></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (item.Id != User.Identity.GetUserId()) { 
                @Html.ActionLink("Remove Friend", "Delete", new { Controller = "Friends", Id = item.Id }, null)
                }
            </td>
        </tr>
    }

</table>

