@model IEnumerable<SSProject.Models.Post>
@using Microsoft.AspNet.Identity;

<h2>Posts</h2>

<br />

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="postContainer col-md-12">
                <div class="postHeader">
                    <a href="/profile/details/@item.AspNetUser.Id"><img class="rotate userImageSmall" src="@item.AspNetUser.ProfilePicture" /></a>
                    @Html.DisplayFor(modelItem => item.AspNetUser1.UserName)
                </div>
                <div class="postContent">
                    @Html.DisplayFor(modelItem => item.Content)
                </div>
                <div class="deletePost">
                    @Html.ActionLink("Delete", "Delete", new { Controller = "Post", Id = item.Id }, null)
                </div>
            </div>
        }
    }



