@{
    ViewBag.Title = "Home Page";
}


    <div class="Title">
        <div class="techbookTitle">TechBook</div>
        <center><img src="@Url.Content("~/Content/images/techbook.png")" width="400" height="300" /></center>
    </div>
    <div class="techbookSlogan">A way to connect with people in the computer science industry.</div>